body{
background : #d8d8d8;
color: #000;
}
nav.navbar {
  background: #b4b4b4;
  color: #000;
  font-size: 14px;
}
section.content {
    clear: both;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.footer{
    margin-top: 46px;
    padding: 40px 20px;
    position: relative;
    clear: both;
}