{% extends "base.html" %}

{% block title %} {% if university %}{{ university }} {% endif %}World University Rankings {% endblock %}

{% block content %}
{{ dir }}
<form name="uvlist" class=" " role="search" action="/mysite/processdata" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="university-name">Select University</label>
            <select id="university-name" name="universityName" class="form-control">
                <option value="">Select University Name</option>
                {% for u in uvlist %}
                    {% if uv == u %}
                       <option value="{{ u }}"  selected> {{ u }}</option>
                    {% else %}
                       <option value="{{ u }}"> {{ u }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div style="color:red">{% firstof message message %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="university-name"></label>
            <button style="margin-top:25px;" type="submit" class="btn btn-primary btn-default">Submit</button>
        </div>
    </div>


</form>
{%if formpopulated %}
{% load staticfiles %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>-->
<div class="col-md-12">
   <img class="img-responsive" src="{% static 'images/university.png' %}" alt="My image"/>
</div>
{% endif %}
{% endblock %}

{% block footer %}

{% endblock %}
