{% extends "base.html" %}

{% block title %} Top {{ numberOfUv }} University Rankings by {{ rankingSystem }}{% endblock %}

{% block content %}
{{ dir }}
<form name="uvlist" class=" " role="search" action="/mysite/processtopuvform" method="post"
      xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="form-group">
            <div style="color:red">
                {% if error %}
                <p style="color: red;">Please select the correct input.</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label> Here you can see the top universities  </label></br>
            <label for="university-name">Select A Ranking System <span style="color:red">*</span> </label>
            <select id="university-name" name="rankingSystem" class="form-control">
                <option value="">Select a Ranking System</option>
                {% for v in lists %}
                {% if rankingSystem == v %}
                <option value="{{ v }}" selected> {{ v }}</option>
                {% else %}
                <option value="{{ v }}"> {{ v }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <div style="color:red">{% firstof message message %}</div>
        </div>
        <div class="form-group">
            <label for="total-uv">Number of Universities to show <span style="color:red">*</span></label>
            <select id="total-uv" name="numberOfUv" class="form-control">
                <option value="">Select Number of Universities</option>
                {% for l in listOfNumber %}

                {% ifequal numberOfUv|add:"0" l|add:"0"%}
                <option value="{{ l }}" selected>{{ l }}</option>
                {% else %}
                <option value="{{ l }}">{{ l }}</option>
                {% endifequal %}
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <span style="color:red">*</span> Required Input
        </div>
        <div class="form-group">

            <button style="margin-top:2px;" type="submit" class="btn btn-primary btn-default">Submit</button>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</form>
{%if formpopulated %}
{% load staticfiles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>-->
<div class="col-md-12">
    <img class="img-responsive" src="{% static 'images/topuv.png' %}" alt="My image"/>
</div>
{% endif %}
{% endblock %}

{% block footer %}

{% endblock %}
